![](https://media.giphy.com/media/l0HluULNylbTu44Ao/giphy.gif)
## Introduction

Take an old bicycle. Paint it white. Leave it anywhere in the city. Tell people to use it. This was the first urban bike-sharing concept in history. Launched in Amsterdam in the 1960s, it was called the Witte Fietsenplan (the “white bicycle plan”). And it was not a great success.

Here, we will identify the following:
- Which stations are the most popular?
- What are the peak hours of bike usage?
- How do holidays and events affect bike usage?
- What is the possible purpose of rentals? Casual and Subscriber?
- How do station's popularity goes over time?

Company: [Divvy](https://divvybikes.com) from Chicago<br>
Location: Chicago

The dataset is provided by [Divvy](https://divvybikes.com), compiled and cleaned by [Chris](https://github.com/ca-ros) (visit [documentation](https://github.com/ca-ros/divvy-bikeshare/blob/master/data%20wrangling/README.md)).

In [14]:
# Import required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## PostgreSQL Integration

In [4]:
## Install libraries
# pip install ipython-sql
# pip install sqlalchemy
# pip install psycopg2

# load ipython-sql
%load_ext sql

# Import required function
from sqlalchemy import create_engine

# string format: "postgresql://username:password@host:port/database"
engine = create_engine('postgresql://postgres:password@localhost/postgres')

print('Connected')

Connected

In [ ]:
%%sql
SELECT * FROM trips LIMIT 5

 * postgresql://postgres:***@localhost/postgres
5 rows affected.

[('3940', None, 914, datetime.datetime(2013, 6, 27, 1, 6), datetime.datetime(2013, 6, 27, 9, 46), 31177, 91, 'Clinton St & Washington Blvd', 48, 'Larrabee St & Kingsbury St', 'Subscriber', 'Male', 1982),
 ('4095', None, 480, datetime.datetime(2013, 6, 27, 12, 6), datetime.datetime(2013, 6, 27, 12, 11), 301, 85, 'Michigan Ave & Oak St', 85, 'Michigan Ave & Oak St', 'Subscriber', 'Male', 1982),
 ('4113', None, 711, datetime.datetime(2013, 6, 27, 11, 9), datetime.datetime(2013, 6, 27, 11, 11), 140, 88, 'Racine Ave & Randolph St', 88, 'Racine Ave & Randolph St', 'Subscriber', 'Male', 1982),
 ('4118', None, 480, datetime.datetime(2013, 6, 27, 12, 11), datetime.datetime(2013, 6, 27, 12, 16), 316, 85, 'Michigan Ave & Oak St', 28, 'Larrabee St & Menomonee St', 'Customer', None, None),
 ('4119', None, 711, datetime.datetime(2013, 6, 27, 11, 12), datetime.datetime(2013, 6, 27, 11, 13), 87, 88, 'Racine Ave & Randolph St', 88, 'Racine Ave & Randolph St', 'Subscriber', 'Male', 1982)]

## Overview of data

In [ ]:
data = pd.read_csv("trips.csv")

C:\Users\Chris\AppData\Local\Temp\ipykernel_27016\374247096.py:1: DtypeWarning: Columns (0,1,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(

### What do we see?
- We received a warning about columns (0,1,11) having mixed data types. We will declare the data types for columns ride_id, rideable_type, and gender as string.

In [5]:
data = pd.read_csv(
    "C:/Users/Chris/Documents/GitHub/large csv files/divvy-bikeshare/trips.csv", 
    dtype = {
        'ride_id': str, 
        'rideable_type': str, 
        'gender': str})

In [31]:
def overview():
    # data = pd.read_csv("trips.csv", dtype = {'ride_id': str, 'rideable_type': str, 'gender': str})
    print("The first 5 rows of data are:\n")
    print(data.head(5))
    print("\n\n\nDataset has {} rows and {} columns".format(data.shape[0], data.shape[1]))
    print("\n\n\nDatatype: \n")
    print(data.dtypes)
    print("\n\n\nThe number of null values for each column are: \n")
    print(data.isnull().sum())
    print("\n\n\nData summary: \n")
    print(data.describe())
    return data

# Lastly, assigning a variable to overview()
data = overview()

The first 5 rows of data are:

  ride_id rideable_type  bike_id           start_time             end_time  \
0    3940           NaN    914.0  2013-06-27 01:06:00  2013-06-27 09:46:00
1    4095           NaN    480.0  2013-06-27 12:06:00  2013-06-27 12:11:00
2    4113           NaN    711.0  2013-06-27 11:09:00  2013-06-27 11:11:00
3    4118           NaN    480.0  2013-06-27 12:11:00  2013-06-27 12:16:00
4    4119           NaN    711.0  2013-06-27 11:12:00  2013-06-27 11:13:00

   trip_duration  start_station_id            start_station_name  \
0          31177              91.0  Clinton St & Washington Blvd
1            301              85.0         Michigan Ave & Oak St
2            140              88.0      Racine Ave & Randolph St
3            316              85.0         Michigan Ave & Oak St
4             87              88.0      Racine Ave & Randolph St

   end_station_id            end_station_name   user_type gender  birth_year
0            48.0  Larrabee St & Kingsbury St  Subscriber   Male      1982.0
1            85.0       Michigan Ave & Oak St  Subscriber   Male      1982.0
2            88.0    Racine Ave & Randolph St  Subscriber   Male      1982.0
3            28.0  Larrabee St & Menomonee St    Customer    NaN         NaN
4            88.0    Racine Ave & Randolph St  Subscriber   Male      1982.0



Dataset has 33563529 rows and 13 columns



Datatype:

ride_id                object
rideable_type          object
bike_id               float64
start_time             object
end_time               object
trip_duration           int64
start_station_id      float64
start_station_name     object
end_station_id        float64
end_station_name       object
user_type              object
gender                 object
birth_year            float64
dtype: object



The number of null values for each column are:

ride_id                      0
rideable_type         24426783
bike_id                9136746
start_time                   0
end_time                     0
trip_duration                0
start_station_id        822842
start_station_name      785462
end_station_id          886972
end_station_name        850051
user_type                    0
gender                14961677
birth_year            14933394
dtype: int64



Data summary:

            bike_id  trip_duration  start_station_id  end_station_id  \
count  2.442678e+07   3.356353e+07      3.274069e+07    3.267656e+07
mean   2.837794e+03   1.206004e+03      4.998105e+14    4.124270e+14
std    1.772165e+03   1.829677e+04      2.707892e+16    2.460716e+16
min    1.000000e+00  -1.742998e+06      1.000000e+00    1.000000e+00
25%    1.327000e+03   4.150000e+02      7.600000e+01    7.600000e+01
50%    2.664000e+03   7.230000e+02      1.690000e+02    1.700000e+02
75%    4.250000e+03   1.254000e+03      2.840000e+02    2.840000e+02
max    6.946000e+03   1.433640e+07      1.606778e+18    1.606778e+18

         birth_year
count  1.863014e+07
mean   1.981224e+03
std    1.090653e+01
min    1.759000e+03
25%    1.975000e+03
50%    1.984000e+03
75%    1.989000e+03
max    2.017000e+03

### What do we see?
- There are columns that are considered as float instead of integers: bike_id, start_station_id, end_station_id, and birth_year. We will convert this to integer.

## Summary